women-of-the-marvel-universe {
  content: "wom"; }

.women-of-the-marvel-universe-cape {
  background-color: #cfff32; }

.women-of-the-marvel-universe-text {
  color: #8465d9;
  font-family: Roboto, "Open Sans", Helvetica Neue, sans-serif;
  font-size: 1.2rem; }

img {
  border: 0.5rem dotted #424954; }

.mina {
  color: maroon;
  border: 0.5rem solid maroon;
  font-size: 0.8rem;
  font-family: Menlo, Consolas, monospace; }

.fir {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  background-color: orange;
  position: relative;
  z-index: -2; }

.sec {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  background-color: indigo;
  margin-left: -2rem; }
